@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato:100);
}

body, html {
  height: 100%;
  min-width: 600px;
  padding: 0;
  margin: 0;
}


navlink.active {
  color: rgb(52, 199, 195)
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  /*margin-top:20px;*/
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.2em;
}

.dartmouth {
  margin-top: 0px;
  padding-top: 100px;
  padding-left: 100px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.65);
}

.unmasked-main {
  padding-left: 95px;
  padding-top:100px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 5em;
  color: #FFFFFF;

  /* padding-top: 0px; */
}

.unmasked-main-description {
  padding-left: 100px;
  width: 690px;
  height: 300px;
  left: 114px;
  top: 349px;
  font-family: Lato;
  font-style: thin;
  font-weight: 100;
  line-height: normal;
  font-size: 1.5em;
  color: #FFFFFF;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.app-store{
  padding:0px;
  margin:0px;
}

.main-rectangle {
  margin-left: 100px;
  width: 418px;
  height: 81px;
  left: 114px;
  top: 524px;
  border: 3px solid #FFF;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-coming-soon {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 40px;
  color: #FFF;
}

.parallax {
  margin:0px;
  background: rgba(53, 93, 195, 0.4);
  /* The image used */
  background-image: url("./assets/newbg.png");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.applestore {
  width: 100px;
  height: 100px;
  background-image: url("./assets/apple_store_logo.jpeg");
  height: 100%;

}

.about-background {
  /* width: 1280px; */
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(181.38deg, #4B79B8 1.39%, #B894DC 103.46%);
  margin: 0px;
  padding: 0px;
}

.learn-more {
  text-align: center;
  margin-top: 300px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.polygon {
  text-align: center;
  border-radius: 4px;
}

.unmasked-about-description {
  width: 800px;
  height: 200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 150px;
}

.unmasked-top-right {
  position: absolute;
  width: 193px;
  height: 41px;
  left: 47px;
  top: 15px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #F9F9F9;
  margin: 0;
  padding: 0;
}

.questions {
  position: absolute;
  width: 1440px;
  height: 44px;
  left: 0px;
  top: 763px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.team-background {
  height: 900px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180.27deg, #AB8FD6 12.2%, #4AAFD0 105.44%);
  margin:0px;
  padding:0px;
}

.team-member-description {
  width: 252px;
  height: 220px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
  margin:20px;
  padding: 0px;
}

.faq-background {
  height: 900px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180.27deg, #AB8FD6 12.2%, #4AAFD0 105.44%);
  padding:0px;
  margin:0px;
}


.faq-question {
  width: 1150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
  margin:5px;
  padding:0px;
}


.faq-answer {
  width: 1150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  color: #FFFFFF;
  margin:10px;
  padding:0px;
}

.resources-background {
  height: 900px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180.27deg, #AB8FD6 12.2%, #4AAFD0 105.44%);
  padding:0px;
  margin:0px;
}

.resource-list{
  padding-top:20px;
}

.resource-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  color: #FFFFFF;
  padding-top: 30px;
}

.resource-description {
  padding:10px;
  display: none;
  font-size: 15px;
  color: #FFFFFF;
}
