@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato:100);
}

body, html {
  height: 100%;
  min-width: 600px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #3ec5c1;
}

.navbar navbar-expand-md navbar-light{
  padding: 50px;
  margin-right:100px;
  position: fixed;
  top: 0;
  width: 100%;
}

navlink.active {
  color: rgb(52, 199, 195)
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

.nav-link {
  margin-top:20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.2em;
}

.dartmouth {
  margin-top: 50px;
  padding-top: 100px;
  padding-left: 100px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.65);
}

.unmasked-main {
  padding-left: 95px;
  padding-top:5px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 5em;
  color: #FFFFFF;
}

.unmasked-main-description {
  padding-left: 100px;
  width: 690px;
  height: 130px;
  left: 114px;
  top: 349px;
  font-family: Lato;
  font-style: thin;
  font-weight: 100;
  line-height: normal;
  font-size: 1.5em;
  color: #FFFFFF;
}

.main-rectangle {
  margin-left: 100px;
  width: 418px;
  height: 81px;
  left: 114px;
  top: 524px;
  border: 3px solid #FFF;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-coming-soon {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 40px;
  color: #FFF;
}

.parallax {
  background: rgba(53, 93, 195, 0.4);
  /* The image used */
  background-image: url("./assets/newbg.png");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-background {
  /*position: absolute;*/
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: linear-gradient(181.38deg, #4B79B8 1.39%, #B894DC 103.46%);
}

.learn-more {
  text-align: center;
  margin-top: 300px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.polygon {
  text-align: center;
  border-radius: 4px;
}

.unmasked-about-description {
  /*position: absolute;*/
  width: 791px;
  height: 164px;
  left: 324px;
  top: 348px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

.unmasked-top-right {
  position: absolute;
  width: 193px;
  height: 41px;
  left: 47px;
  top: 36px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #F9F9F9;
}

.questions {
  position: absolute;
  width: 1440px;
  height: 44px;
  left: 0px;
  top: 763px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.team-background {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180.27deg, #AB8FD6 12.2%, #4AAFD0 105.44%);
}

.team-member-description-1 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 208px;
  top: 346px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.team-member-description-2 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 594px;
  top: 346px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.team-member-description-3 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 980px;
  top: 346px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.team-member-description-4 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 208px;
  top: 660px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.team-member-description-5 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 594px;
  top: 660px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.team-member-description-6 {
  position: absolute;
  width: 252px;
  height: 83px;
  left: 980px;
  top: 660px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.faq-question-1 {
  position: absolute;
  width: 447px;
  height: 50px;
  left: 112px;
  top: 172px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-question-2 {
  position: absolute;
  width: 447px;
  height: 50px;
  left: 112px;
  top: 302px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-question-3 {
  position: absolute;
  width: 447px;
  height: 50px;
  left: 112px;
  top: 432px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-question-4 {
  position: absolute;
  width: 447px;
  height: 50px;
  left: 112px;
  top: 562px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-question-5 {
  position: absolute;
  width: 447px;
  height: 50px;
  left: 112px;
  top: 692px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-answer-1 {
  position: absolute;
  width: 960px;
  height: 50px;
  left: 112px;
  top: 218px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-answer-2 {
  position: absolute;
  width: 960px;
  height: 50px;
  left: 112px;
  top: 348px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-answer-3 {
  position: absolute;
  width: 960px;
  height: 50px;
  left: 112px;
  top: 478px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-answer-4 {
  position: absolute;
  width: 960px;
  height: 50px;
  left: 112px;
  top: 608px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.faq-answer-5 {
  position: absolute;
  width: 960px;
  height: 50px;
  left: 112px;
  top: 738px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}
