body, html {
  height: 100%;
}

.nav-link {
font-family: Lato;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.2em;

color: white;
}

.dartmouth {
  position: absolute;
  width: 270px;
  height: 54px;
  left: 106px;
  top: 199px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;

  color: rgba(255, 255, 255, 0.65);
}

.unmasked-main {
  position: absolute;
  width: 596px;
  height: 108px;
  left: 101px;
  top: 250px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 96px;

  color: #FFFFFF;
}

.unmasked-main-description {
  position: absolute;
  width: 690px;
  height: 130px;
  left: 114px;
  top: 349px;

  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 27px;

  color: #FFFFFF;
}

.main-rectangle {
  position: absolute;
  width: 418px;
  height: 81px;
  left: 114px;
  top: 524px;

  border: 3px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 3px;

}

.rectangle-coming-soon {
  position: absolute;
  width: 231px;
  height: 55px;
  left: 207px;
  top: 535px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 40px;

  color: #E2E2E2;
}

.parallax {
  background: rgba(53, 93, 195, 0.4);
  /* The image used */
  background-image: url("./assets/background.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unmasked-about-description {
  position: absolute;
  width: 791px;
  height: 164px;
  left: 324px;
  top: 348px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 30px;
  text-align: center;

  color: #FFFFFF;
}
