.resources{
    background: linear-gradient(181.38deg, #4B79B8 1.39%, #B894DC 103.46%);
    height: 100%;
}

.description{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.resource-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 30px;
  }

.resource-description {
    padding:10px;
    display: none;
    font-size: 13px;
    color: #FFFFFF;
  }


