@import url(https://fonts.googleapis.com/css?family=Lato:100);

.member{
    border-radius: 0.8rem;
    margin: 1rem 0;
}

.img{
    width: 100%;
    display: block;
}

.member{
    h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        color: #FFFFFF;
    }
}