.about{
    background: linear-gradient(181.38deg, #4B79B8 1.39%, #B894DC 103.46%);
    height: 100%;

}

.description{
    width: 800px;
    height: 200px;
    display: block;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}