@import url(https://fonts.googleapis.com/css?family=Comfortaa);


.navbar-unmasked{
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 3vw;
}

.navbar a{
  font-size: 1.5vw;
  
}